@model IEnumerable<ShopOnlineConnection.SanPham>
<div class="row">
    <div class="col-lg-12">
        <div class="heading"><h2>SẢN PHẨM HOT</h2></div>
        <div class="products">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="product">
                        <div class="image"><a href="@Url.Action("Details","Shop", new { id = @item.MaSanPham})">@Html.Partial("_AvartaDetails", DoAn_ShopOnline.Models.BUS.ShopOnlineBUS.LoadAvartaImg(item.MaSanPham))</a></div>
                        <div class="buttons">
                            <a class="btn cart" href="@Url.Action("index","GioHang")"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                            <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                            <a class="btn compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a>
                        </div>
                        <div class="caption">
                            <div class="name"><h3><a href="@Url.Action("Details","Shop", new { id = @item.MaSanPham})">@item.TenSanPham</a></h3></div>
                            <div class="price">@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", item.Gia)</div>
                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
